/* ====== Grises ====== */
$light-0: #faf9f9;
$light-1: #f0f0f0;
$light-2: #c7c8ca;
/* ====== Titulos ====== */
$light-3: #9b9d9e;
$light-4: #838383;
$light-5: #525252;
/* ====== Parrafos ====== */
$light-6: #3a3b3c;
$light-7: #242526;
$light-8: #18191a;
/* ====== Blanco ====== */
$white-1: #fff;
$white-2: #f8f9fc;
/* ====== Principales ====== */
$color-1: #eef7ff;
$color-2: #f7df1e; // Cambiar para Eventos
$color-3: #fff7b7;  // Cambiar para Eventos
/* ====== Otros ====== */
$yellow-1: #f1c40f;
$yellow-2: #ffff00;
$orange-1: #f39c12;
$orange-2: #f06529;
$green-1: #13c913;
$red-1: #fa3737;
$blue-1: #0165E1;
$blue-2: #7289DA;
$blue-3: #61dbfb;
/* ====== Transiciones ====== */
$tran: all 0.5s ease;